.gradient-background {
    background: linear-gradient(300deg, #FFC7EA, #D8B4F8, #CAEDFF);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.container h1 {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif', serif ,cursive;
    font-stretch: extra-expanded;
}

.container  h2{
    font-size: larger;
    margin-top: 10px;
}

.container p {
   font-size: larger;
   margin-top: 120px;
}

#bio h1 {
    font-family: 'Noto Serif', serif;
}

#bio p {
    font-family: 'Libre Baskerville', serif;
    font-size: xx-large;
}

#Connect h1 {
    font-family: 'Noto Serif', serif;;
}